@media screen and (max-width:479px) {
*{box-sizing:border-box;}
section, #wrapOne{padding:50px 0;}
.header-right{ float:none;}
.signin_wrap .widget-left, .signin_wrap .widget-right{ float:none; display:table; width:auto; text-align:center; margin:0 auto;}
.signin_wrap span.phoneadressinfo { margin:0 0 10px;} 
.signin_wrap span.donateuser{ padding:0 7px;}
.header-wrapper{ position:relative;}
.sponserleftimage, .sponsercontent, .sponserrightimage{ width:auto; display:block; text-align:center;}
.sponserdonate{ margin-top:10px;}
.our-event-date-row{ width:auto; float:none; margin:0 0 10% 0;}
.eventdate{ width:100%;}
.one_four_page{ width:100%; float:none; margin:0 auto 10% auto; } 
.one_four_page .thumb_four_page img{ width:100%; height:auto;}
.ourclasses_col{ width:100%; margin-right:0; margin-bottom:10%;}
.ourclasses_col img{ width:100%; height:auto;}
.needyourhelp-content{ float:none; width:auto;}
.news-box{ width:auto; margin-right:0; margin-bottom:10%; padding-bottom:0; float:none; display:inline-block;}
.news-box .news-thumb{ width:auto; height:auto; overflow:visible; text-align:center; float:none; }
.news{ width:auto;}
.date-news{ position:relative; z-index:999;}
.testimonials-wrap{padding:0;}
#testimonials ul li{ text-align:center;}
.cols-2 .widget-column-1, .cols-2 .widget-column-2, .cols-3 .widget-column-1, .cols-3 .widget-column-2, .cols-3 .widget-column-3, .cols-4 .widget-column-1, .cols-4 .widget-column-2, .cols-4 .widget-column-3, .cols-4 .widget-column-4{ border:none; padding:30px 0; width:auto; float:none; min-height:inherit;}
.container { width:auto; padding:0 10px;}
#sitemain .ourclasses_thumb, .nosidebar .ourclasses_thumb{ height:auto;}
.wrap_one, .signin_wrap{width:auto; text-align:center;}
.slide_info a.sldbutton{ display:table;}
#sidebar #contactform_main input[type="text"], #sidebar #contactform_main input[type="email"], #sidebar #contactform_main input[type="tel"], #sidebar #contactform_main input[type="url"], #sidebar #contactform_main textarea{ width:100%;}
#sitemain #testimonials ul li .tm_description, .nosidebar #testimonials ul li .tm_description{ width:auto !important;}
.header { width:100%; padding:0;}
.header .header-inner{ width:100%; padding:15px 0 0;}
.header .header-inner .logo{ width:100%; float:none; text-align:center; margin:0 0 15px 0; padding:0;} .one_third_page{ float:none; width:100%; margin:0 0 5% 0;} #sidebar{ width:100%; float:none;}
.sidebar-left{ float:none !important; width:100%;}
.flotRight{ float:none !important;}
.blog-post-repeat .post-thumb img{ float:none; margin-right:0; width:100%; height:100%;} .photobooth .filter-gallery{ width:auto;}
.sitefull .photobooth .gallery ul li, .photobooth .gallery ul li{ width:100%;}
.photobooth .filter-gallery ul li a{ padding:2px 5px;}
.photobooth .gallery ul li img{ height: auto;}
#sitemain .photobooth .gallery ul li, .nosidebar .photobooth .gallery ul li{ width:100%;} .content-area{ width:auto; margin:0; padding:20px 10px;}
.site-main{ width:auto; margin:0; padding:0; float:none;} #slider{ top:0; margin:0;}
.nivo-caption{ display:none !important;}
.contact_left, .contact_right{ float:none; width:100%; margin-bottom:10%;} .cols-3{ width:100% !important; display:block; margin-right:0; margin-bottom:15%;}
.copyright-txt, .design-by { text-align:center; float:none;}
#contactform_main input[type="text"], #contactform_main input[type="email"], #contactform_main input[type="tel"], #contactform_main input[type="url"], #contactform_main textarea{width:100%;}
.recent-post img{margin:0 2% 2% 0;} .signin_wrap{ text-align: center; line-height:25px; padding:10px 0;}
.services-wrap, .welcome-wrap{ text-align:center;}
.quovolve-nav span a{ bottom:10%; top:auto;}
.searchbox{ width:100%; padding-left:0;}
.tm_thumb, #testimonials ul li .tm_description{ float:none; width:100%;}
#testimonials ul li .tm_description p{ text-align:left;}
.phone-no strong{ width:auto; display:inherit;}
.signin_wrap .right, .signin_wrap .left{ text-align:center;}
.signin_wrap .social-icons{ width:auto;}
.signin_wrap .left span{ float:none;}
.header .header-inner .nav ul li a .fa, .fixed .header-inner .nav ul li a .fa{ display:none;}
.slider-main{min-height:195px;}
} @media screen and (min-width: 480px) and (max-width: 767px){
#main{margin:0 auto; padding:0; width:480px;}
section, #wrapOne{padding:50px 0;}
*{box-sizing:border-box;}
.header-right{ float:none;}
.signin_wrap .widget-left, .signin_wrap .widget-right{ float:none; display:table; width:auto; text-align:center; margin:0 auto;}
.signin_wrap span.phoneadressinfo { margin:0 0 10px;} 
.signin_wrap span.donateuser{ padding:0 10px;}
.header-wrapper{ position:relative;}
.sponserleftimage, .sponsercontent, .sponserrightimage{ width:auto; display:block;}
.sponserleftimage, .sponserrightimage{ text-align:center; display:block; clear:both;}
.sponserdonate{ margin-top:10px;}
.our-event-date-row{ width:auto; float:none; margin:0 0 10% 0;}
.eventdate{ width:100%;}
.one_four_page{ width:100%; float:none; margin:0 auto 10% auto; } 
.one_four_page .thumb_four_page img{ width:100%; height:auto;}
.ourclasses_col{ width:100%; margin-right:0; margin-bottom:10%;}
.ourclasses_col img{ width:100%; height:auto;}
.needyourhelp-content{ float:none; width:auto;}
.news-box{ width:auto; margin-right:0; margin-bottom:10%; padding-bottom:0; float:none; display:inline-block;}
.news-box .news-thumb{ width:auto; height:auto; overflow:visible; text-align:center; float:none; }
.news{ width:auto;}
.date-news{ position:relative; z-index:999;}
.testimonials-wrap{padding:0;}
#testimonials ul li{ text-align:center;}
.cols-2 .widget-column-1, .cols-2 .widget-column-2, .cols-3 .widget-column-1, .cols-3 .widget-column-2, .cols-3 .widget-column-3, .cols-4 .widget-column-1, .cols-4 .widget-column-2, .cols-4 .widget-column-3, .cols-4 .widget-column-4{ border:none; padding:30px 0; width:auto; float:none; min-height:inherit;}
.container { width:auto; padding:0 10px;}
.ourclasses_thumb{ height:auto;}
#sitemain .ourclasses_thumb, .nosidebar .ourclasses_thumb{ height:auto;}
.wrap_one, .signin_wrap{width:auto; text-align:center;}
.slide_info a.sldbutton{ display:table;}
#sidebar #contactform_main input[type="text"], #sidebar #contactform_main input[type="email"], #sidebar #contactform_main input[type="tel"], #sidebar #contactform_main input[type="url"], #sidebar #contactform_main textarea{ width:100%;}
#sitemain #testimonials ul li .tm_description, .nosidebar #testimonials ul li .tm_description{ width:auto !important;}
.header { width:100%; padding:0;}
.header .header-inner{ width:100%; padding:15px 0 0;}
.header .header-inner .logo{ width:100%; float:none; text-align:center; margin:0 0 15px 0; padding:0;} .one_third_page{ float:none; width:100%; margin:0 0 5% 0;} #sidebar{ width:100%; float:none;}
.sidebar-left{ float:none !important; width:100%;}
.flotRight{ float:none !important;}
.blog-post-repeat .post-thumb img{ float:none; margin-right:0; width:100%; height:100%;} .photobooth .filter-gallery{ width:auto;}
.sitefull .photobooth .gallery ul li, .photobooth .gallery ul li{ width:100%;}
.photobooth .filter-gallery ul li a{ padding:2px 5px;}
.photobooth .gallery ul li img{ height: auto;}
#sitemain .photobooth .gallery ul li, .nosidebar .photobooth .gallery ul li{ width:100%;} .content-area{ width:auto; margin:0; padding:20px 10px;}
.site-main{ width:auto; margin:0; padding:0; float:none;} #slider{ top:0; margin:0;}
.nivo-caption{ display:none !important;}
.contact_left, .contact_right{ float:none; width:100%; margin-bottom:10%;} .copyright-txt, .design-by { text-align:center; float:none;}
#contactform_main input[type="text"], #contactform_main input[type="email"], #contactform_main input[type="tel"], #contactform_main input[type="url"], #contactform_main textarea{width:100%;}
.recent-post img{margin:0 2% 2% 0;} .signin_wrap{ text-align: center; line-height:25px; padding:10px 0;}
.services-wrap, .welcome-wrap{ text-align:center;}
.quovolve-nav span a{ bottom:10%; top:auto;}
.searchbox{ width:100%; padding-left:0;}
.tm_thumb, #testimonials ul li .tm_description{ float:none; width:100%;}
#testimonials ul li .tm_description p{ text-align:left;}
.phone-no strong{ width:auto; display:inherit;}
.signin_wrap .right, .signin_wrap .left{ text-align:center;}
.signin_wrap .social-icons{ width:auto;}
.signin_wrap .left span{ float:none;}
.header .header-inner .nav ul li a .fa, .fixed .header-inner .nav ul li a .fa{ display:none;}
.slider-main{min-height:260px;}
} @media screen and (max-width:1170px) and (min-width:768px) {
.slider-main{min-height:350px;}
*{box-sizing:border-box;}
.container { width:auto; padding:0 10px;}
.signin_wrap span.phoneadressinfo{ margin:0 10px 0 0;}
.signin_wrap{ font-size:13px;}
.header{ z-index:9999;}
.wrap_one, .signin_wrap{width:auto;}
.header{ padding-bottom:0;}
.header .header-inner{ width:auto; padding:15px 0 0;}
.header .header-inner .logo{ margin:0 auto 10px auto; padding:0; text-align:center; float:none;}
.header-right{ float:none;}
.signin_wrap .widget-left{ font-size:13px;}
.signin_wrap span.donateuser{ padding:0 7px; } 
.one_four_page img{ height:auto; width:auto;}
.sponsercontent{ margin-right:2%;}
.footer .phone-no{ margin-top:25px;}
.cols-3 .widget-column-1{ margin:0 3% 0 0;}
.cols-3 .widget-column-2{ margin:0 3% 0 0; width:36%; padding-left:2%; padding-right:2%;}
.cols-3 .widget-column-3{ width:34.5%;}
.cols-2 .widget-column-1, .cols-2 .widget-column-2, .cols-3 .widget-column-1, .cols-3 .widget-column-2, .cols-3 .widget-column-3, .cols-4 .widget-column-1, .cols-4 .widget-column-2, .cols-4 .widget-column-3, .cols-4 .widget-column-4{ min-height:380px; padding-top:30px; padding-bottom:30px;} .content-area{ width:auto; margin:0; padding:50px 20px;}
.nivo-caption{ width:90%; top:50%; left:5%;}
.nivo-controlNav{ z-index:999;}
.slide_info a.sldbutton{ margin-top:0; }
.slide_info h2{ font-size:30px !important; line-height:40px; }
.slide_info p{ padding-bottom:15px;}
.one_four_page{ width:23.5%;}
.eventtitlelocation{ padding:3.5% 3%;}
.ourclasses_thumb{ height:auto;}
.services-wrap .one_third{width:33.3%;}
.news{ width:59%; min-height:300px;}
#sitemain .news, .nosidebar .news{ min-height:330px;}
#sitemain .news a.read-more, .nosidebar .news a.read-more{ padding-left:0; padding-right:0; text-align:center; width:100%; left:0;}
#sidebar #contactform_main input[type="text"], #sidebar #contactform_main input[type="email"], #sidebar #contactform_main input[type="tel"], #sidebar #contactform_main input[type="url"], #sidebar #contactform_main textarea{ width:100%;}
#sidebar{ width:220px;}
.site-main{ width:65%;} .BlogPost{ min-height:250px;}
.client_lists .client{ width:14%;}
.wrap_one .fa{ margin-bottom:30px;}
.testimonials-wrap{ padding:0;}
#sitemain .photobooth .gallery ul li, .nosidebar .photobooth .gallery ul li{ width:20%;}
.threebox .chooseus-image{ width:115px; height:auto;}
}
@media screen and (max-width:1169px) and (min-width:980px) { 
.header .header-inner .nav{ margin:0;}
html{overflow-x:hidden; }
.signin_wrap .right{ width:72%;} 
.news{ min-height:220px;}
.news a.read-more{left:33%;}
#sitemain .news, .nosidebar .news{ min-height:260px !important;}
#sidebar{ width:300px;}
.header .header-inner .logo{ float:left; text-align:left;}
.header .header-inner{ padding:0 0 0 20px;}
.slide_info h2{ font-size:40px !important; line-height:50px; }
.one_four_page .view-all-btn{display:block;}
.image-border{height:70%;}
.one_four_page_content{padding:15px 15px; height:77.5%;}
.abouttowing .su-frame-align-left{ float:none !important;}
.towing-emergency h2{ font-size:35px !important;}
.towing-emergency h3{ font-size:26px !important;}
}
@media screen and (max-width: 980px){
.toggleMenu{display: block;}
.header .header-inner .nav{float:none; margin:0; position:relative; overflow-x:hidden; background-color:#fff; }
.header .header-inner .nav ul{color:#000; width:100% !important; float:none !important; margin:0; padding:0;}
.header .header-inner .nav ul li{border-top:1px #cccccc solid; display:block; float:none; text-align:left;}
.header .header-inner .nav ul li a{padding:5px 10px !important; display:block; color:#000;}
.header .header-inner .nav ul li a:hover{color:#ffffff;}
.header .header-inner .nav ul.sub-menu{ }
.header .header-inner .nav ul li ul, .header .header-inner .nav ul li ul ul{ display:block !important;}
.header .header-inner .nav ul li ul li a:before{content:"\00BB \00a0";}
.header .header-inner .nav ul li ul li a{padding-left:20px !important;}
.header .header-inner .nav ul li ul li ul li a{padding-left:30px !important;}
.header .header-inner .nav ul li ul li ul li ul li a{padding-left:40px !important;}
.header .header-inner .nav ul li:hover > ul{ background:none !important;}
.header .header-inner .nav ul li:hover > ul{ background: transparent !important; width:auto !important; display:block; position: relative !important; left:0; right:0; top:0;}
.header .header-inner .nav ul li:hover ul li ul, .header .header-inner .nav ul li:hover ul li:hover > ul, .header .header-inner .nav ul li:hover ul li:hover > ul li ul{  background: transparent !important; display:block; position:relative !important;  right:0; left:0; top:0;}
.header .header-inner .nav ul li:hover ul li:hover ul, .header .header-inner .nav ul li:hover ul li:hover ul li:hover ul{ left:0 !important;}
.header .header-inner .nav ul li a .fa, .fixed .header-inner .nav ul li a .fa{ display:none;}
}